# Node
node_modules/
*.log

# Python
__pycache__/
*.pyc
.venv_speechbrain/

# macOS
.DS_Store

# Build artifacts
/dist/
/build/

# Data
M4L-Demucs/
*.wav
*.aiff
*.flac
*.mp3

# Secrets
.env

# Local secrets
.hf_token
